.team-form {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  width: 300px;
  border-radius: 4px;
  border: 2px solid #ddd;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.team-form form {
  width: 100%;
}
